.loginContainer {
	position: relative;
	top: 50%;
	.loginButton {
		color: #000000;
		background-color: rgba(201, 38, 141, 0.1);
		border: 2px solid #C9268D;
		&:hover {
			color: #ffffff;
			background-color: #C9268D;
		}
	}
}